body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grayishBlue);
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  padding: 0 var(--wrapper);
}

/* Button */
.btn {
  background-image: linear-gradient(
    to right,
    var(--limeGreen) 0%,
    var(--brightCyan) 100%
  );
  color: var(--veryLightGray);
  border: 0;
  padding: 1em 2.5em;
  border-radius: 2em;
  font-size: 14px;
  font-weight: bold;
}
