body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grayishBlue);
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  padding: 0 var(--wrapper);
}

.is-hidden {
  display: none;
}

.title {
  &__primary {
    color: var(--darkBlue);
    font-size: 2em;
  }
  &__secondary {
    @extend .title__primary;
    font-size: 1.2em;
  }
}

.description {
  font-size: 0.8em;
  margin-bottom: 2.2em;
}
