// Variables

// Images
$bg-intro-desktop: '../../static/images/bg-intro-desktop.svg';
$bg-intro-mobile: '../../static/images/bg-intro-mobile.svg';
$favicon-32x32: '../../static/images/favicon-32x32.png';
$icon-api: '../../static/images/icon-api.svg';
$icon-budgeting: '../../static/images/icon-budgeting.svg';
$icon-close: '../../static/images/icon-close.svg';
$icon-facebook: '../../static/images/icon-facebook.svg';
$icon-hamburger: '../../static/images/icon-hamburger.svg';
$icon-instagram: '../../static/images/icon-instagram.svg';
$icon-onboarding: '../../static/images/icon-onboarding.svg';
$icon-online: '../../static/images/icon-online.svg';
$icon-pinterest: '../../static/images/icon-pinterest.svg';
$icon-twitter: '../../static/images/icon-twitter.svg';
$icon-youtube: '../../static/images/icon-youtube.svg';
$image-mockups: '../../static/images/image-mockups.png';
