.why-easybank {
  background: var(--lightGrayishBlue);
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 2.5em;
  .description {
    margin-bottom: 4em;
  }
  &__grid {
    display: grid;
  }
  &__feature {
    img {
      margin-bottom: 1rem;
    }
    .description {
      margin-bottom: 2em;
    }
  }
}
